
body {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.container p {
  color: black;
}

.header {
  background-image: url('/images/1.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-box h3, .header-box h1 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-box h3 {
  font-size: 50px;
}

.btn {
  background-color:yellowgreen;
  border-radius: 20%;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 15px;
}

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 100hv;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .flex {
  display: flex;
  position: relative;
}

.navbar img {
  position: absolute;
  width: 100%;
  height: 100hv;
  object-fit: cover;
}

.navbar .navbar-brand {
  margin: 40px 60px;
  color: white;
  font-size: xx-large;
  font-weight: 800;
}

.navbar ul {
  list-style-type: none;
}

.navbar .nav-link {
  display: block;
  padding: 20px 20px;
  color:yellowgreen;
  text-decoration: none;
}

.navbar .collapse {
  display: flex;
}

.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
}

.h-title {
  font-size: 50px;
}

.p-title {
  margin-top: -25px;
  font-style: italic;
}

.services .box {
  margin: 20px 0;
  text-align: center;
}

.services .box i {
  color:yellowgreen;
  font-size: 45px;
}

.box p {
  font-style: italic;
  opacity: 0.8;
}

.portfolio {
  background-color: rgb(232, 255, 185);
}

.portfolio-box {
  background-color:rgb(242, 255, 215) ;
  border: 1px;
  border-radius: 5%;
}

.portfolio-imgage img {
  margin-top: 30px;
  height: 600px;
  width: 400px;
  object-fit: cover;
  padding-top: 10px;
}

.portfolio-description {
  margin-bottom: 50px;
}

.portfolio-description p {
  font-style: italic;
  opacity: 0.8;
}