*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

.row {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  padding: 0 20px;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.container p {
  color: black;
}

.header {
  background-image: url('/images/1.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-box h3, .header-box h1 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-box h3 {
  font-size: 50px;
}

.btn {
  background-color:yellowgreen;
  border-radius: 20%;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 15px;
}

.navbar {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100hv;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .flex {
  display: flex;
  position: relative;
}

.navbar img {
  position: absolute;
  width: 100%;
  height: 100hv;
  object-fit: cover;
}

.navbar .navbar-brand {
  margin: 40px 0px;
  color: white;
  font-size: xx-large;
  font-weight: 800;
  position: relative;
}



.navbar ul {
  list-style-type: none;
}

.navbar .nav-link {
  display: block;
  padding: 20px 20px;
  color:yellowgreen;
  text-decoration: none;
}

.navbar .collapse  {
  display: flex;

}

.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
}

.h-title {
  font-size: 50px;
}

.p-title {
  margin-top: -25px;
  font-style: italic;
}

.services .box {
  margin: 20px 0;
  text-align: center;
}

.services .box i {
  color:yellowgreen;
  font-size: 45px;
}

.box p {
  font-style: italic;
  opacity: 0.8;
}

.portfolio {
  background-color: rgb(247, 253, 235);
}

.portfolio-box {
  background-color:white;
  border: 1px;
  border-radius: 5%;
}

.portfolio-image img {
  margin-top: 10px;
  height: 400px;
  width: 250px;
  object-fit: cover;
  padding-top: 15px;
  
}

.portfolio-description {
  margin-bottom: 50px;
}

.portfolio-description p {
  font-style: italic;
  opacity: 0.8;
  padding-top: 0;
  padding-bottom: 15px;
}

.footer {
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-box i {
  font-size: 30px;
  padding: 5px;
  color: greenyellow;
}

p {
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}


@media (max-width: 820px) {
  .header nav {
    flex-direction: column;
  }
  .header ul.collapse {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 0;
    flex-direction: column;
  }
  .header .header-box {
    top: 20%;
    left: 50%;
    transform: translate(-50%, 55%);
  }
  .header .navbar-brand {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}